<!DOCTYPE html>
<html>
<head>
    <title>Our home page</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/icons.css">

    <script type="text/javascript" src="/scripts/lib/page.js/index.js"></script>
    <script type="text/javascript" src="/scripts/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/scripts/routes.js"></script>

</head>
<body>

    <div id="mast-head">
        <a id="logo-link" href="/"></a>
        <div id="navigation">
            <ul>
                <li><a href="./">Home</a>
                </li>
                <li><a href="./library">Library</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="library">
        <h3>Welcome to the library!</h3>
    </div>

    <div id="features" class="grid">

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-stats nested-icon"></div>
            </div>
            <div class="feature-heading">
                Befriend the trend
            </div>
            <div class="feature-copy">We scour the web
    for up and coming
    technology</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-clock nested-icon"></div>
            </div>
            <div class="feature-heading">
                Short and
    sweet
            </div>
            <div class="feature-copy">We fast forward so
    you don’t have to</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-eye-blocked nested-icon"></div>
            </div>
            <div class="feature-heading">
                Not for noobs
            </div>
            <div class="feature-copy">But motivated beginners can benefit</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-stack nested-icon"></div>
            </div>
            <div class="feature-heading">
                Full stack
            </div>
            <div class="feature-copy">Our videos cover everything from the front end to the DB</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-insert-template nested-icon"></div>
            </div>
            <div class="feature-heading">
                Keep track
            </div>
            <div class="feature-copy">Keep track of how
    far you’ve progressed
    through our library</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-camera nested-icon"></div>
            </div>
            <div class="feature-heading">
                We know video
            </div>
            <div class="feature-copy">We edit mercilessly
    before we publish</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-pause nested-icon"></div>
            </div>
            <div class="feature-heading">
                Pause any time
            </div>
            <div class="feature-copy">When you don’t have the
    time to watch our videos,
    you don’t need to pay</div>
        </div>

        <div class="feature col-sm-1-1 col-md-1-2 col-lg-1-4" >
            <div class="feature-icon">
                <div class="icon-github nested-icon"></div>
            </div>
            <div class="feature-heading">
                Expert
    insight
            </div>
            <div class="feature-copy">We often collaborate
    with core contributors
    of our topics</div>
        </div>
    </div>

</body>
</html>