@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ie9q57');
	src:url('fonts/icomoon.eot?#iefix-ie9q57') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ie9q57') format('woff'),
		url('fonts/icomoon.ttf?-ie9q57') format('truetype'),
		url('fonts/icomoon.svg?-ie9q57#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-binoculars:before {
	content: "\e60a";
}
.icon-graphics:before {
	content: "\e60b";
}
.icon-node:before {
	content: "\e60c";
}
.icon-mv:before {
	content: "\e60d";
}
.icon-lego:before {
	content: "\e60e";
}
.icon-lego2:before {
	content: "\e60f";
}
.icon-camera:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e61d";
}
.icon-clock:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e602";
}
.icon-binoculars2:before {
	content: "\e609";
}
.icon-expand:before {
	content: "\e612";
}
.icon-contract:before {
	content: "\e613";
}
.icon-stats:before {
	content: "\e603";
}
.icon-download:before {
	content: "\e619";
}
.icon-eye-blocked:before {
	content: "\e604";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-play:before {
	content: "\e614";
}
.icon-pause:before {
	content: "\e606";
}
.icon-play2:before {
	content: "\e61c";
}
.icon-pause2:before {
	content: "\e615";
}
.icon-volume-high:before {
	content: "\e616";
}
.icon-volume-medium:before {
	content: "\e617";
}
.icon-arrow-down:before {
	content: "\e61a";
}
.icon-arrow-down2:before {
	content: "\e61b";
}
.icon-insert-template:before {
	content: "\e607";
}
.icon-console:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e618";
}
.icon-github:before {
	content: "\e608";
}
.icon-tools:before {
	content: "\e611";
}
